# IDE & Editor
.vscode
.idea/

# OS files
.DS_Store
Thumbs.db

# Redis data
redis-data/

# Hint configs
.hintrc

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
logs/

# Backup files
*.backup
*.bak
*.orig