<h1>User Management</h1>
<div class="row mb-3">
  <div class="col-md-8">
    <input type="text" class="form-control search-input" placeholder="Find user" [(ngModel)]="keyword">
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary" (click)="searchUsers()">Search</button>
  </div>
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>State</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        @for(user of users; track user.id) {
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.fullname }}</td>
            <td>{{ user.phone_number }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.is_active ? 'Active' : 'Inactive' }}</td>
            <td>{{ user.role.name }}</td>
            <td>
                <button class="btn" [ngClass]="{
                        'btn-danger': user.is_active,
                        'btn-success': !user.is_active
                      }" (click)="toggleUserStatus(user)">
                    {{ user.is_active ? 'Block User' : 'Unblock User' }}
                </button>
                <!-- <button class="btn btn-primary ms-2" (click)="resetPassword(user.id)">
                    Reset Password
                </button> -->
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="d-flex justify-content-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      @if(currentPage > 0) {
        <li class="page-item">
          <a class="page-link" (click)="onPageChange(0)">First</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="onPageChange(currentPage - 1)">
            <i class="fa fa-chevron-left"></i>
          </a>
        </li>
      }          
      @for(page of visiblePages; track page) {
        <ng-container>
          <li class="page-item" [ngClass]="{'active': page === currentPage + 1}">
            <a class="page-link" (click)="onPageChange(page - 1)">{{ page }}</a>
          </li>
        </ng-container>
      }          
      @if(currentPage < totalPages - 1)   {
        <li class="page-item">
          <a class="page-link" (click)="onPageChange(currentPage + 1)">
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>
        <li class="page-item" >
          <a class="page-link" (click)="onPageChange(totalPages - 1)">Last</a>
        </li>
      }          
    </ul>
  </nav>
</div>