<div class="container">
    <form #registerForm="ngForm" (ngSubmit)="register()">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="register-form mx-auto">
            <h2 class="register-header">Đăng ký</h2>
  
            <div class="form-group">
              <label for="phoneNumber">Số điện thoại</label>
              <input type="text"
                     class="form-control"
                     [(ngModel)]="phoneNumber"
                     name="phone"
                     required
                     minlength="10"
                     #phone="ngModel"
                     id="phoneNumber">
              <div class="divider-nospace"></div>
              <p class="text-danger" *ngIf="phone.errors?.['required'] && phone.touched">Số điện thoại không được để trống</p>
              <p class="text-danger" *ngIf="!phone.errors?.['required'] && phone.invalid && phone.touched">Số điện thoại phải có ít nhất 10 ký tự</p>
            </div>
  
            <div class="mt-3"></div>
            <div class="form-group password-field">
              <label for="password">Mật khẩu</label>
              <input [type]="showPassword ? 'text' : 'password'"
                     class="form-control"
                     [(ngModel)]="password"
                     name="password"
                     required
                     minlength="3"
                     #pass="ngModel"
                     id="password">
              <i class="password-toggle fas" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePassword()"></i>
              <div class="divider-nospace"></div>
              <p class="text-danger" *ngIf="pass.invalid && pass.touched">Mật khẩu phải có ít nhất 3 ký tự</p>
            </div>
  
            <div class="mt-3"></div>
            <div class="form-group password-field">
              <label for="retype-password">Gõ lại mật khẩu</label>
              <input [type]="showPassword ? 'text' : 'password'"
                     class="form-control"
                     [(ngModel)]="retypePassword"
                     name="retypePassword"
                     required
                     minlength="3"
                     #retypePass="ngModel"
                     id="retype-password"
                     (input)="checkPasswordsMatch()">
              <i class="password-toggle fas" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePassword()"></i>
              <div class="divider-nospace"></div>
              <p class="text-danger" *ngIf="retypePass.invalid && retypePass.touched">Mật khẩu phải có ít nhất 3 ký tự</p>
              <p class="text-danger" *ngIf="password !== retypePassword && retypePass.touched">Mật khẩu không khớp</p>
            </div>
  
            <div class="mt-3"></div>
            <div class="form-group">
              <label for="full-name">Họ và tên</label>
              <input type="text"
                     class="form-control"
                     [(ngModel)]="fullName"
                     name="fullName"
                     required
                     #fullNameInput="ngModel"
                     id="full-name">
              <div class="divider-nospace"></div>
              <p class="text-danger" *ngIf="fullNameInput.invalid && fullNameInput.touched">Họ và tên không được để trống</p>
            </div>
  
            <div class="form-group">
              <label for="date-of-birth">Ngày tháng năm sinh</label>
              <input type="date"
                     class="form-control"
                     [(ngModel)]="dateOfBirth"
                     name="dateOfBirth"
                     required
                     #dob="ngModel"
                     (input)="checkFutureDate()"
                     id="date-of-birth">
              <div class="divider-nospace"></div>
              <p class="text-danger" *ngIf="dob.invalid && dob.errors?.['required'] && dob.touched">Ngày tháng năm sinh không được để trống</p>
              <p class="text-danger" *ngIf="dob.errors?.['futureDate'] && dob.touched">Ngày tháng năm sinh phải nhỏ hơn ngày hiện tại</p>
            </div>
  
            <div class="mt-3"></div>
            <div class="form-group">
              <label for="address">Địa chỉ</label>
              <input type="text"
                     class="form-control"
                     [(ngModel)]="address"
                     name="address"
                     required
                     #addressInput="ngModel"
                     id="address">
              <div class="divider-nospace"></div>
              <p class="text-danger" *ngIf="addressInput.invalid && addressInput.touched">Địa chỉ không được để trống</p>
            </div>
  
            <!-- <div class="form-group">
              <div class="form-check checkbox-text">
                <input type="checkbox"
                       class="form-check-input"
                       [(ngModel)]="isAccepted"
                       name="isAccepted"
                       required
                       #acceptInput="ngModel"
                       id="agree">
                <label class="form-check-label" for="agree">Tôi đồng ý với các điều khoản và điều kiện</label>
                <p class="text-danger" *ngIf="!isAccepted && acceptInput.touched">Bạn phải đồng ý với điều khoản</p>
              </div>
            </div> -->
  
            <button type="submit"
                    class="register-button"
                    [disabled]="!registerForm.valid">Đăng ký</button>
            <div class="divider"></div>
            <p class="text-center">Bạn đã có tài khoản? <span><a href="/login" class="register-link">Đăng nhập</a></span></p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <app-footer></app-footer>
  