<div class="container mt-5">
    <h2 class="text-center mb-4">Quản Lý Đơn Hàng</h2>
    <div *ngIf="orders.length > 0" class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Họ và Tên</th>
            <th>Điện Thoại</th>
            <th>Email</th>
            <th>Địa Chỉ</th>
            <th>Ngày Đặt Hàng</th>
            <th>Tổng Tiền</th>
            <th>Trạng Thái</th>
            <th>Chi Tiết</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.fullname }}</td>
            <td>{{ order.phone_number }}</td>
            <td>{{ order.email }}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.order_date | date:'short' }}</td>
            <td>{{ order.total_money | currency }}</td>
            <td>
              <span class="badge" [ngClass]="{
                'badge-warning': order.status === 'pending',
                'badge-success': order.status === 'completed',
                'badge-danger': order.status === 'cancelled'
              }">{{ order.status }}</span>
            </td>
            <td>
              <a href=`http://localhost:4300/orders/{{order.id}}` class="btn btn-info" data-bs-toggle="modal" [attr.data-bs-target]="'#orderModal' + order.id">Xem Chi Tiết</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="orders.length === 0" class="text-center">
      <p>Không có đơn hàng nào.</p>
    </div>
  
    <div *ngFor="let order of orders" class="modal fade" [id]="'orderModal' + order.id" tabindex="-1" aria-labelledby="'orderModalLabel' + order.id" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="'orderModalLabel' + order.id">Chi Tiết Đơn Hàng - {{ order.fullname }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let detail of order.order_details">
                <div class="d-flex">
                  <img [src]="detail.thumbnail" alt="Product Image" class="img-thumbnail" style="width: 50px; height: 50px; margin-right: 10px;">
                  <div>
                    <strong>{{ detail.product_name }}</strong><br>
                    Màu: {{ detail.color }}<br>
                    Số lượng: {{ detail.number_of_products }}<br>
                    Tổng Tiền: {{ detail.total_money | currency }}
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  