@import '../../styles/shared-styles.scss';

/* General Container */
.container {
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #FFF8E7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.manage-order-title {
    color: #000000;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.intro-section {
    color: black;
    padding: 10px;
    text-align: center;
    margin: 120px auto 0 auto;
     /* Nền cam nhạt */
    border-radius: 10px; /* Bo góc */
    box-shadow: 0 4px 8px #FF6F00; /* Bóng đổ nhẹ */
    width: 90%;
}

/* Table Header */
.table-title {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: #FFEDD5;
    padding: 10px;
    text-align: left;

    th h2 {
        margin: 0;
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
    }
}

/* Product Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead th {
    background-color: #FF6F00;
    color: white;
    padding: 12px;
    text-align: center;
}

tbody td {
    padding: 10px;
    text-align: center;
    color: black;
    border-bottom: 1px solid #FFEDD5;
}

tbody tr:nth-child(even) {
    background-color: #FFF2E0;
}

/* Product Info */
.product-info {
    display: flex;
    align-items: center;
    justify-content: left;
}

.product-image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 15px;
}

.product-name {
    color: #FF6F00;
    font-weight: bold;
}

/* Buttons */
.btn-gradient {
    background: linear-gradient(to right, #FF6F00, #FF4500);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.btn-gradient:hover {
    transform: scale(1.05);
}

