@import '../../styles/shared-styles.scss';

header {
    background-color: #FFF8E7;
    color: rgb(173, 178, 203);
    position: fixed;
    top: 0; 
    left: 0; /* Đặt header ở phía bên trái */
    width: 100%;
}

.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar .container {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar .container .navbar-brand {
    color: #000000;
}

.navbar .container .navbar-nav .nav-link {
    color: #000000   ;
    border-radius: 18px;
    padding: 8px 16px;
}

.navbar .container .navbar-nav .nav-link.active {
    background-color: $shopapp-color !important;
    color: black !important;
}
.nav-item.active {
    background-color: $shopapp-color !important;
    color: white !important;
}

/* Add this CSS to your project's stylesheet */

.popover-list {
    padding: 0px 10px 0px 10px;
}
.popover-body {
    padding: 0px;
}
.popover-item {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}

.popover-item:hover {
    background-color: #f0f0f0;
    color: #7b612d;    
}

.divider {
    height: 2px; /* Độ dày của đường */
    // background-color: #FF6F00; /* Màu cam */
    width: 100%; /* Chiều rộng đầy đủ */
    box-shadow: 0 4px 8px #cfc9c4;
}